<!--<h3>Select a single city</h3>-->
<!--<div class="example-block">-->
  <!--<div class="example-block__item">-->
    <!--&lt;!&ndash;[formControl]="ngxControl"&ndash;&gt;-->
    <!--<ngx-select-->

                <!--[searchCallback]="searchCallback"-->
                <!--[allowClear]="true"-->
                <!--[defaultValue]="doNgxDefault()"-->
                <!--[items]="items"-->
                <!--placeholder="No city selected"-->
                <!--(typed)="inputTyped('ngx-select', $event)"-->
                <!--(focus)="doFocus()"-->
                <!--(blur)="doBlur()"-->
                <!--(open)="doOpen()"-->
                <!--(close)="doClose()"-->
                <!--(select)="doSelect($event)"-->
                <!--(remove)="doRemove($event)"-->
                <!--(selectionChanges)="doSelectOptions($event)">-->
    <!--</ngx-select>-->
    <!--<p></p>-->
    <!--&lt;!&ndash;<div class="alert alert-secondary">&ndash;&gt;-->
      <!--&lt;!&ndash;<pre>{{ngxControl.value | json}}</pre>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div>-->
      <!--{{searchCallback}}-->
    <!--</div>-->
    <!--<div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<app-mytest
  [valorPorDefecto]="'cuatro'"
></app-mytest>

